/*
   Booki CSS v1.0 for lastest Gecko & Blink based browsers.
   Free for non commercial and commercial use. Just beware of cheating if you're into OC... 😏
   Use CTRL+F `§` & CTRL+F `***` to navigate throughout this CSS file sections.
*/

/*** A. Macro */
/* ⚙️ [§ A.1) Global Configuration] */
/* (You can edit the lines which are underneath this one as you wish) */
:root {
  /* Configuration.chart => Static Colors */
  --booki-chart-primary: #0065FC;
  --booki-chart-bg-color: #F2F2F2;
  --booki-chart-sections-bg-color: white;
  --booki-chart-filter-border-color: #D9D9D9;
  /* {REM} Unspecified value, but retrieved it on the mockup */

  /* Configuration.chart => FX Colors */
  --booki-chart-filter-btn-hover: #DEEBFF;
  --booki-inactive-menu-elm-indicator-color: transparent;
  --booki-active-menu-elm-indicator-color: var(--booki-chart-primary);
  --booki-chart-blue-btn-hover: var(--booki-chart-primary);
  /* {REM} Vacuous truth: unspecified value */

  /* Configuration.globalLayout => Bleed [📖 https://tinyurl.com/bleed-def] */
  --booki-bleed-desktop: 50px;
  --booki-bleed-tablet: 70px;
  --booki-bleed-mobile: 15px;
  --booki-bleed-current-state-value: var(--booki-bleed-desktop);
  --booki-global-bleed: 0 var(--booki-bleed-current-state-value);

  /* Configuration.globalLayout => Font weight aliases */
  --booki-fw-normal: 400;
  --booki-fw-medium: 500;
  --booki-fw-semibold: 600;
  --booki-fw-bold: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  /* ⛔ ⬇️ IMPLEMENTATION: Don't edit those lines */
  line-height: 1;
  font-weight: var(--booki-fw-normal);
  /* background-color: var(--booki-chart-bg-color); */
  background-image: url(../images/_bonus/background-pattern.png);
  word-wrap: break-word;
  /* ⛔ ⬆️ IMPLEMENTATION: Don't edit those lines */
}

.top-level-wrapper-specs {
  --_top-level-wrapper-width: 1400px;
}

/* ⚙️ [§ A.2) Granular Configuration] */
/* (You can edit the lines which are underneath this one as you wish) */

/* Constants: Main title font's size and weight */
h1 {
  font-size: 1.35rem;
  font-weight: var(--booki-fw-bold);
}

h3 {
  font-size: 1.38rem;
  font-weight: bold;
}

h4,
h5,
h6 {
  font-weight: var(--booki-fw-bold);
}

/* Constants: Header nav's deadzone, header's height and its bottom gap */
.header-specs {
  --_nav-btn-deadzone: 34px;
  /* Defines the gap between each nav button (set it to 0 if you DON'T want any deadzone) */
  min-height: 65px;
  margin-bottom: 55px;
}

/* Mutables: Header navigation menu's colors (NOT on mouse-over) */
.header-nav-specs {
  --_menu-active-item-hyperlink-color: inherit;
  --_menu-active-item-border-top-color: var(--booki-inactive-menu-elm-indicator-color);
}

/* Mutables: Header navigation menu's colors (WHEN on mouse-over) */
.header-nav-item-specs:hover {
  --_menu-active-item-hyperlink-color: var(--booki-chart-primary);
  --_menu-active-item-border-top-color: var(--booki-active-menu-elm-indicator-color);
}

/* Constants: Header navigation's item */
.header-nav-item-specs {
  padding-left: 25px;
  /* Defines the mouse-over appearing border-top's left offset */
  padding-right: 15px;
  /* Defines the mouse-over appearing border-top's right offset */
  border-top: 2px solid;
  /* Defines the the mouse-over appearing border-top's thickness */
}

/* Constants: Header's logo height */
.header-logo-specs {
  height: 20px;
}

/* Constants: Title section's bottom gap and line-height */
.title-section-specs {
  margin-bottom: 15px;
  line-height: 1.75rem;
}

/* Constants: Searchbar's width, height and bottom gap */
.searchbar-specs {
  --_searchbar-border-radius: 15px;
  --_width: 418px;
  --_tablet-width: 438px;
  height: 3.1rem;
  margin-bottom: 30px;
}

/* Constants: Searchbar map button's icon specs */
.searchbar .searchbar-map-button-specs>i {
  font-size: 1.15rem;
  padding: 18px;
}

/* Constants: Searchbar search button's specs */
.searchbar .searchbar-search-button-specs {
  padding: 15px;
}

/* Constants: Searchbar search input's specs */
.searchbar .searchbar-input-specs {
  text-indent: 12pt;
}

/* Constants: Searchbar search button's label */
.searchbar .searchbar-search-button-specs:before {
  content: "Rechercher";
}

/* Mutables: filters section width and label "Filtres" gap (mutate on BREAKPOINTS) */
.filters-section-specs {
  --_max-width: 982px;
  --_label-gap: 30px;
  --_label-gap-tablet: 15px;
  --_label-gap-mobile: 20px;
}

/* Constants: filter buttons properties */
.filter-button-specs {
  --_vcentered-basis: 105%;
  /* Defines the vertical scale (use PERCENTS) */
  --_border-thickness: 0.15rem;
  border-radius: 30px;
  padding: 0.9rem 1.2rem 0.9rem 0.9rem;
  /* Defines the padding as: up | right | down | left */
}

/* Constants: filters list buttons' gaps */
.filters-list-specs {
  --_gap-x: 56px;
  --_gap-y: 0;
  --_gap-x-tablet: 20px;
  --_gap-y-mobile: 20px;
}

/* Constants: filters list buttons' gaps (mutate on BREAKPOINTS) */
.lodging-info-icon-specs {
  --_border-color: var(--booki-chart-bg-color);
  --_border-thickness: 0.12rem;
  padding: 5px 9px;
  font-size: 0.7rem;
  margin-right: 10px;
}

/* Constants: Show more button's bottom gap and font's size */
.show-more-btn-specs {
  margin-bottom: 40px;
  font-size: 1.2em;
}

/* ⛔ Do NOT edit the code BELOW this line unless you know what you are doing */
/* ⛔ Do NOT edit the code BELOW this line unless you know what you are doing */
/* ⛔ Do NOT edit the code BELOW this line unless you know what you are doing */

/* 🧰 [§ A.3) i. Reset CSS => 📖 https://tinyurl.com/reset-css] */
/* (Preprocessing) */
input:placeholder-shown {
  text-overflow: ellipsis;
}

::placeholder {
  color: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
}

* {
  box-sizing: border-box;
  /* [📖 https://tinyurl.com/border-box] */
  min-width: 0;
  /* [📖 https://tinyurl.com/flex-min-width-0] */
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style-type: none;
}

/* 🪐 [§ A.3) ii. Large scope properties] */
/* Top level elements fully flexed (personal preference for debugging) */
#top-level-wrapper,
#main,
#footer {
  display: flex;
  flex-direction: column;
}

/* Webpage Wrapper */
#top-level-wrapper {
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  background-color: var(--booki-chart-sections-bg-color);
  max-width: calc(var(--_top-level-wrapper-width) + var(--booki-bleed-current-state-value));
}

/* Webpage Bleed */
#top-level-wrapper>*:not(#main),
#main>* {
  padding: var(--booki-global-bleed);
}

/* 🧰 [§ A.4) Utilitary classes] */
/* (Kinda minimalist internal CSS framework) => [📖 https://tinyurl.com/fk-clean-code] */
.is-normal {
  font-weight: var(--booki-fw-normal);
}

.is-medium {
  font-weight: var(--booki-fw-medium);
}

.is-semibold {
  font-weight: var(--booki-fw-semibold);
}

.is-bold {
  font-weight: var(--booki-fw-bold);
}

.is-label {
  user-select: none;
}

.is-ring {
  border-radius: 100%;
}

.is-checked,
.is-blue {
  color: var(--booki-chart-primary);
}

.is-unchecked {
  color: var(--booki-chart-bg-color);
}

/* {Bonus} Let those crappy pictures shine again [📖 https://tinyurl.com/css-dodge-and-burn-ersatz] */
.kinda-dodge-and-burn-filter {
  filter: saturate(130%) brightness(0.55) contrast(110%) brightness(1.875) saturate(105%);
}


/*** B. Micro (Desktop first) */
/* 🧱 [§ B.1) Header] */
#header,
#header-nav-container {
  display: flex;
}

#header {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#header-nav-container,
#header-nav-container li {
  height: 100%;
}

#header-nav {
  align-self: stretch;
}

.header-nav-item {
  height: 100%;
  display: inline-flex;
  text-decoration: none;
  align-items: flex-end;
  justify-content: center;
  color: var(--_menu-active-item-hyperlink-color);
  border-top-color: var(--_menu-active-item-border-top-color);
}

#header-nav-container>li:first-child>a {
  margin-right: var(--_nav-btn-deadzone);
}

#header-logo {
  display: flex;
  align-self: flex-end;
}

#header-logo-img {
  display: flex;
  width: 100%;
  height: 100%;
}

#header-logo-img > img {
  object-fit: contain;
}

/* 🧱 [§ B.2) Searchbar] */
.searchbar-container {
  display: flex;
}

.searchbar,
.searchbar .searchbar-search-button,
.searchbar .searchbar-input {
  display: flex;
  align-items: center;
}

.searchbar {
  width: var(--_width);
  height: 100%;
}

.searchbar .searchbar-search-button {
  min-width: auto;
}

.searchbar .searchbar-map-button>i {
  display: flex;
  align-self: center;
}

.searchbar .searchbar-map-button {
  display: flex;
  min-width: auto;
  background-color: var(--booki-chart-bg-color);
  border-radius: var(--_searchbar-border-radius) 0 0 var(--_searchbar-border-radius);
}

.searchbar .searchbar-input,
.searchbar .searchbar-search-button,
.searchbar .searchbar-map-button {
  height: 100%;
}

.searchbar .searchbar-input {
  width: 100%;
  border-left: none;
  border-right: none;
  border: 1px solid var(--booki-chart-bg-color);
}

.searchbar .searchbar-search-button {
  --_search-btn-bg-color: var(--booki-chart-primary);
  cursor: pointer;
  color: var(--booki-chart-sections-bg-color);
  border: 1px solid var(--_search-btn-bg-color);
  background-color: var(--_search-btn-bg-color);
  border-radius: 0 var(--_searchbar-border-radius) var(--_searchbar-border-radius) 0;
}

.searchbar-search-button:hover {
  --_search-btn-bg-color: var(--booki-chart-blue-btn-hover);
}

.searchbar .searchbar-search-button i {
  display: none;
}

/* 🧱 [§ B.3) Filters] */
#filters-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: calc(var(--_max-width) + var(--booki-bleed-current-state-value));
}

#filters-section p:first-of-type {
  margin-right: var(--_label-gap);
}

.filters-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: var(--_gap-y);
}

.filter-button {
  --_filter-btn-bg-color: var(--booki-chart-sections-bg-color);
  color: inherit;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: var(--_vcentered-basis);
  line-height: var(--_vcentered-basis);
  background-color: var(--_filter-btn-bg-color);
  border: var(--_border-thickness) solid var(--booki-chart-filter-border-color);
}

/* {REM} Had to simulate gap cause it was buggy, provided "as is"... ¯\_(ツ)_/¯ */
.filter-button:not(:last-child) {
  margin-right: var(--_gap-x);
}

.filter-button a:first-of-type {
  text-decoration: none;
}

.filter-button-content-container {
  display: flex;
}

/* {REM} Too much unsafe values to move it on the configuration section */
.filter-icon-wrapper {
  width: 30px;
  text-align: center;
  transform: scale(1.25) translateX(-8%);
  color: var(--booki-chart-primary);
  font-size: var(--_vcentered-basis);
}

.filter-button:hover {
  --_filter-btn-bg-color: var(--booki-chart-filter-btn-hover);
}

/* Custom breakpoints */
@media (max-width: 1060px) {
  #filters-section {
    --_label-gap: var(--_label-gap-tablet);
    padding-right: 0 !important;
    flex-wrap: nowrap;
  }

  /* {REM} Had to simulate gap cause it was buggy, provided "as is"... ¯\_(ツ)_/¯ */
  .filter-button:not(:last-child) {
    --_gap-x: var(--_gap-x-tablet);
  }

  .filter-icon-wrapper {
    transform: scale(1.15) translateX(-5%);
  }
}

@media (max-width: 905px) {
  #filters-section {
    flex-wrap: wrap;
    padding-right: var(--booki-bleed-current-state-value) !important;
  }

  /* {REM} Had to simulate gap cause it was buggy, provided "as is"... ¯\_(ツ)_/¯ */
  .filter-button:nth-child(even) {
    margin-right: 0;
  }

  .filters-section {
    max-width: 100%;
  }

  #filters-section p:first-of-type,
  .filters-list-container {
    flex-basis: 100%;
  }

  #filters-section p:first-of-type {
    margin-bottom: var(--_label-gap-mobile);
  }

  .filters-list {
    --_gap-y: var(--_gap-y-mobile);
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    flex-basis: calc(100% - var(--booki-bleed-current-state-value));
  }

  .filter-icon-wrapper {
    width: 35px;
    transform: scale(1.25) translateX(-8%) translateY(-4%);
  }

  .filter-button-specs {
    --_vcentered-basis: 100%;
  }
}

/* 🧱 [§ B.4) i. Lodgings] */
/* (None of those property should be in the configuration section since it is tailor-made designed) */
.lodging-info-icon {
  color: var(--booki-chart-primary);
  border: var(--_border-thickness) solid var(--_border-color);
  margin-bottom: 1px;
}

.best-lodgings-component,
.city-lodgings-component {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.city-lodgings-component {
  width: 91%;
}

.best-lodgings-component {
  width: 85%;
}

.city-lodgings-grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px 30px;
  margin-bottom: 40px;
}

.city-lodgings-grid-container>a {
  text-decoration: none;
}

.lodging-card-wrapper {
  --_delta: 5px;
  --_negative-delta: calc(var(--_delta) * -1);
  min-width: 246px;
  max-width: 100%;
  height: 199px;
  border-radius: 20px;
  outline-offset: var(--_negative-delta);
  outline: var(--_delta) solid var(--booki-chart-sections-bg-color);
  z-index: 1;
}

.lodging-card {
  width: 100%;
  height: 100%;
}

.lodging-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  line-height: 1.25em;
  border-radius: 20px;
  background-color: var(--booki-chart-sections-bg-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.lodging-card .thumbnail {
  display: flex;
  height: calc(114px + var(--_delta));
  margin-top: var(--_delta);
  margin-left: calc(var(--_negative-delta) * 2);
  width: 104%;
  /* {REM} Hack in the matrix :'( */
}

.lodging-card .thumbnail>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.lodging-card-description {
  margin: auto 15px;
  padding-bottom: var(--_delta);
  line-height: 1.4;
  z-index: 1;
}

.lodging-card-description p {
  font-size: 0.9rem;
}

.lodging-card-description .price {
  font-weight: var(--booki-fw-semibold);
}

.rating-container {
  display: flex;
  margin-top: 6px;
  font-size: 0.75rem;
  letter-spacing: 1pt;
}

#lodging-info {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.lodgings-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0;
  margin-bottom: 25px;
}

.lodgings-title-container i {
  font-size: 1.25em;
}

#lodgings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  gap: calc(var(--booki-bleed-current-state-value) * 0.8);
}

#best-lodgings,
#city-lodgings {
  background-color: var(--booki-chart-bg-color);
  border-radius: 20px;
  min-height: 625px;
}

#city-lodgings {
  width: 880px;
}

#best-lodgings {
  width: 420px;
}

#city-lodgings .show-more-btn {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  margin-left: 5px;
}

#city-lodgings .show-more-btn:hover {
  color: var(--booki-chart-primary)
}

/* 🧱 [§ B.4) ii. Best-Lodgings] */
/* Using a "Monkey patch" approach here: no need to create useless classes */
/* => [📖 https://tinyurl.com/monkey-patch] */
/* (Also seems like inheritance, yah you got it) */

/* {REM} Let's create a new class for the grid, it's worth */
.best-lodgings-grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  gap: 33px 30px;
  margin-bottom: 50px;
}

.best-lodgings-grid-container>a {
  text-decoration: none;
}

/* Monkey Patches */
#best-lodgings .lodging-card-wrapper {
  min-width: 252px;
  max-width: 100%;
  max-height: 144px;
}

#best-lodgings .lodging-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

#best-lodgings .lodging-card .thumbnail {
  min-width: calc(106px - var(--_delta));
  width: calc(137px - var(--_delta));
  height: 104%;
  /* {REM} Hack in the matrix :'( */
  margin-left: var(--_delta);
  margin-top: -1px;
}

#best-lodgings .lodging-card .lodging-card-description {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-left: 20px;
  width: 50%;
  line-height: 1.2;
}

#best-lodgings .lodging-card .lodging-card-description h4 {
  margin-bottom: var(--_delta);
}

#best-lodgings .lodging-card .rating-container {
  margin-top: auto;
}

/* Custom breakpoints */
@media (max-width: 1460px) {
  .lodging-card-wrapper {
    min-width: 200px;
  }

  #best-lodgings,
  #city-lodgings {
    flex-basis: 100%;
  }

  .city-lodgings-component,
  .best-lodgings-component {
    width: 91%;
  }
}

@media (max-width: 943px) {
  .city-lodgings-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .lodging-card .thumbnail {
    margin: 0;
    width: 100%;
    /* {REM} Hack in the matrix :'( */
  }
}

/* Hackish garbage */
@media (min-width: 1010px) and (max-width: 1460px) {
  .best-lodgings-grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  #best-lodgings .lodging-card .lodging-card-description h4 {
    width: 94%;
  }

  #best-lodgings .lodging-card .lodging-card-description p {
    font-size: 0.8rem;
    width: 130px;
  }

  #best-lodgings .lodging-card .lodging-card-description {
    width: 100%;
    margin-left: calc(var(--_delta) * 3 - 1px);
  }

  #best-lodgings .best-lodgings-grid-container>.lodging-card-wrapper:nth-child(odd) .lodging-card-description {
    font-size: 0.93rem;
  }

  #best-lodgings .lodging-card .lodging-card-description .rating-container {
    margin-bottom: calc(var(--_negative-delta) * 2);
  }

  #best-lodgings {
    min-height: auto;
  }
}

/* 🧱 [§ B.5) Activities] */
#activities h3 {
  display: flex;
  align-self: flex-start;
  flex: 1 0 100%;
}

#activities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 44px;
  margin-top: 25px;
}

.activity-card {
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 35px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 302px;
  color: inherit;
}

.activity-card a {
  text-decoration: none;
  color: inherit;
}

.activity-card-description {
  margin-left: 8pt;
  word-break: break-word;
}

.activity-card img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.activity-card-description {
  display: flex;
  align-items: center;
  height: 55px;
}

/* 🧱 [§ B.6) Footer] */
#footer {
  background-color: var(--booki-chart-sections-bg-color);
}

.footer-sections-wrapper {
  background-color: var(--booki-chart-bg-color);
}

#footer nav {
  display: flex;
  flex-direction: column;
}

footer nav a {
  display: inline-flex;
}

#footer-sections-container:first-child {
  margin-left: -3.6%;
}

#footer-sections-container:last-child {
  margin-right: 12.8%;
}

#footer-sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 40px;
  justify-content: space-around;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h6 {
  font-size: 1.15em;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 15px;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  line-height: 25pt;
}

.footer-section a:hover {
  color: var(--booki-chart-primary);
}


/*** C. Breakpoints */
/* ✨ [§ C.1) Bleed Manager] */
@media (max-width: 992px) {
  :root {
    --booki-bleed-current-state-value: var(--booki-bleed-tablet);
  }

  #main>*:not(#lodgings-section) {
    padding: var(--booki-global-bleed);
  }
}

@media (max-width: 768px) {
  :root {
    --booki-bleed-current-state-value: var(--booki-bleed-mobile);
  }

  #top-level-wrapper>*:not(#main),
  #main>* {
    padding: 0;
  }
}

/* ✨ [§ C.2) Layout adjustments for tablet] */
@media (min-width: 769px) and (max-width: 992px) {

  /* Header */
  #header-nav-container>li:first-child>a {
    margin-right: calc(var(--_nav-btn-deadzone) * 0.5);
  }

  /* Searchbar */
  .searchbar {
    width: var(--_tablet-width);
    height: 100%;
  }

  /* Activities */
  #activities {
    margin-bottom: 45px;
  }

  .activity-card {
    width: 182px;
    height: 267px;
    flex-flow: nowrap row;
    flex: 1 1 152px;
    margin: 0;
  }

  .activity-card img {
    height: 210px;
  }

  .activity-card-description {
    margin-top: -4px;
  }

  /* Footer */
  footer {
    background-color: var(--booki-chart-sections-bg-color) !important;
  }

  #footer-sections-container {
    margin: 0;
    background-color: var(--booki-chart-bg-color) !important;
    justify-content: space-evenly;
    gap: 0 15px;
  }

  #footer-sections-container:first-child {
    margin-left: 0;
  }

  #footer-sections-container:first-child>div {
    margin-left: -50px;
  }

  #footer-sections-container:last-child {
    margin-right: 0;
  }
}

/* ✨ [§ C.3) Layout adjustments for mobile] */
@media (max-width: 768px) {

  /* Global */
  .section-element-a {
    order: 1;
  }

  .section-element-b {
    order: 0;
  }

  #activities {
    margin: 0 2%;
    align-items: stretch;
  }

  .activity-card {
    flex: 0 0 100%;
    width: 100%;
  }

  /* Header */
  #header {
    padding: 0;
    margin-bottom: 0;
    flex-direction: column;
  }

  #header,
  #header-nav,
  .header-nav-item {
    width: 100%;
  }

  #header-logo {
    display: flex;
    align-self: center;
    margin-top: 25px;
    width: 60px;
    height: auto;
  }

  #header-nav {
    --_menu-active-item-border-top-color: var(--booki-chart-bg-color);
    min-height: 50px;
  }

  #header-nav-container li {
    width: 100%;
  }

  .header-nav-item {
    margin: 30px 0;
    padding-top: 0;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
    border-top: 0 solid transparent;
    border-bottom: 3px solid var(--_menu-active-item-border-top-color);
    color: var(--_menu-active-item-hyperlink-color);
  }

  /* Searchbar */
  .searchbar {
    width: 100%;
  }

  .searchbar .searchbar-search-button-specs:before {
    content: "";
  }

  .searchbar .searchbar-search-button>i {
    display: flex;
  }

  /* Lodgings */
  .city-lodgings-grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  #city-lodgings .show-more-btn {
    display: none;
  }

  #best-lodgings,
  #city-lodgings {
    flex-basis: 100%;
    border-radius: 0;
  }

  #city-lodgings {
    background-color: var(--booki-chart-sections-bg-color);
  }

  /* Activities */
  #activities {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .activity-card img {
    height: 135px;
  }

  .activity-card {
    width: 94%;
  }

  /* Footer */
  #footer-sections-container {
    flex-flow: column;
    padding: var(--booki-global-bleed);
    padding-left: 60px;
    padding-bottom: 40px;
  }

  #footer-sections-container:first-child>div {
    margin-left: 0;
  }
}

/* Edge cases */
@media (min-width: 336px) and (max-width: 450px) {
  .filter-icon-wrapper {
    width: 20px;
    transform: scale(2.6) translateX(-8%) translateY(6%);
  }

  .filter-button-specs {
    --_vcentered-basis: 65%;
  }
}

@media (max-width: 335px) {
  .header-nav-item {
    min-height: 60px;
  }

  .searchbar-map-button {
    display: none !important;
  }

  .lodgings-title-container > i {
    display: none;
  }

  .filters-list {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(1, auto);
  }

  .filters-list .filter-button {
    margin-right: 0;
  }

  .lodging-card-wrapper {
    min-width: 80vw !important;
  }

  #best-lodgings .lodging-card .thumbnail {
    min-width: 20vw;
  }

  footer * {
    font-size: 5.5vw !important;
    margin-left: 0 !important;
    padding-left: 1vw !important;
    line-height: 9vw !important;
  }

  .lodging-card-description h4 {
    font-size: 5vw !important;
  }

  .lodging-card-description p, .price {
    font-size: 4vw !important;
  }

  .rating-container > i {
    font-size: 5vw !important;
  }

  #best-lodgings .lodging-card-description {
    margin-left: 4vw !important;
  }
}

@media (max-width: 260px) {
  .filter-icon-wrapper {
    display: none;
  }

  .filter-button-content-container {
    justify-content: center;
  }
}

@media (max-width: 225px) {
  body {
    word-break: break-word;
  }
}

@media (max-width: 175px) {
    #form-section {
    display: none;
  }
}