@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* {ToDo} Optimize the import using only required font styles
    - https://fonts.google.com/specimen/Raleway
*/

/* Configuration */
:root {
  --booki-chart-blue: #0065FC;
  --booki-chart-light-blue: #DEEBFF;
  --booki-chart-grey: #F2F2F2;
  --booki-chart-white: white;
  --booki-chart-black: black;

  --booki-chart-filter-border-color: #D9D9D9; /* {REM} Not specified, but found it on the mockup */
  --booki-chart-blue-hover-btn: #0065FC; /* {ToDo} Not specified */

  --active-menu-elm-indicator-color: var(--booki-chart-blue);
  --inactive-menu-elm-indicator-color: transparent;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Specs */
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--booki-chart-grey);
}

#wrapper {
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
  margin: auto;
  background-color: var(--booki-chart-white);
}

/* Utilitary classes */
.is-bold {
  font-weight: bold;
}

.is-label {
  user-select: none;
}

.is-caption {
  font-weight: normal;
  font-size: 0.95em;
  text-rendering : optimizeLegibility;
}

.is-circular {
  border-radius: 100%;
}

.is-caption i {
  margin-right: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

/* Header */
#head-menu {
  --_menu-active-item-overline-color: var(--inactive-menu-elm-indicator-color);
  --_menu-active-item-a-color: var(--booki-chart-black);
  justify-content: space-between;
  list-style-type: none;
}

#head-menu a:hover {
  --_menu-active-item-overline-color: var(--active-menu-elm-indicator-color);
  --_menu-active-item-a-color: var(--booki-chart-blue);
}

/* Paddings (hard-coded and very dependants... :/) */
#header {
  justify-content: space-between;
  margin-top: -12px;
}

#head-menu a {
  text-decoration: none;
  padding-top: 48px;
  margin-top: -40px;
  padding-left: 25px;
  padding-right: 15px;
  border-top: 0.3em solid var(--_menu-active-item-overline-color);
  color: var(--_menu-active-item-a-color);
}

#head-menu-logo-container {
  padding: 50px 0;
}

#header nav {
  min-width: 285px;
}

/* !Paddings (hard-coded and very dependants... :/) */
#head-menu-logo img {
  margin-top: 5px;
  max-height: 22px;
}

/* Title section */
#title-section {
  line-height: 1.75em;
}

#title-section h1 {
  font-size: 1.3em;
}

/* Searchbar */
#form-section {
  display: flow-root;
  margin-top: 10px;
}

.searchbar input[type=text],
.searchbar-icon,
.searchbar button {
  float: left;
  padding: 15px 10px;
  font-size: 1em;
  border: 1px solid var(--booki-chart-grey);
  text-align: center;
}

.searchbar input::placeholder {
  color: var(--booki-chart-black);
}

.searchbar input[type=text] {
  width: 13em;
  text-align: left;
  text-indent: 0.30em;
  border-left: none;
  border-right: none;
  background: var(--booki-chart-white);
}

.searchbar-icon {
  width: 1.25em;
  font-size: 1.15em;
  text-indent: 0.05em;
  border-radius: 15px 0 0 15px;
  border-right: none;
  background: var(--booki-chart-grey);
}

.searchbar .search-btn {
  --_searchbar-active-btn-color: var(--booki-chart-blue);
  width: 8em;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  border-left: none;
  background: var(--_searchbar-active-btn-color);
  border: 1px solid var(--booki-chart-blue);
  color: var(--booki-chart-white);
}

.searchbar .search-btn:hover {
  --_searchbar-active-btn-color: var(--booki-chart-blue-hover-btn);
}

.searchbar .search-btn:before {
  content: "Rechercher";
}

/* Filters section */
#filters-section {
  margin-top: 20px;
}

#filters-section ul {
  list-style-type: none;
}

#filters-buttons,
#filters-buttons a {
  margin: 5px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn i {
  font-size: 125%;
  margin-right: 0.28em;
  color: var(--booki-chart-blue)
}

.filter-btn {
  --_filter-btn-bg-color: var(--booki-chart-white);
  line-height: 125%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75em 1em 0.75em 0.75em;
  text-indent: 5pt;
  border-radius: 20px;
  color: var(--booki-chart-black);
  background-color: var(--_filter-btn-bg-color);
  border: 0.15em solid var(--booki-chart-filter-border-color);
}

.filter-btn:hover {
  --_filter-btn-bg-color: var(--booki-chart-light-blue);
}

/* Lodgings section */
#lodging-info p {
  margin-left: 10px;
}

#lodging-info {
  padding: 25px 0;
}

.lodging-info-icon {
  padding: 5px 9px;
  font-size: 0.75em;
  margin-left: -5px;
  color: var(--booki-chart-blue);
  border: 0.15em solid var(--booki-chart-filter-border-color);
}
