@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* {ToDo} Optimize the import using only required font styles
    - https://fonts.google.com/specimen/Raleway
*/

/* {ToDo} Put the right color values */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Specs */
body {
  font-family: "Raleway", sans-serif;
}

#wrapper {
  max-width: 1400px;
  padding-right: 60px;
  padding-left: 60px;
  margin: auto;
}

/* Utilitary classes */
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Header */
#header {
  line-height: 125px;
  justify-content: space-between;
}

#header nav {
  min-width: 22%;
}

#head-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#head-menu a {
  text-decoration: none;
  padding-left: 18px;
  padding-right: 14px;
}

#head-menu-logo {
  max-height: 29px;
}

#head-menu li {
  border: 0.13em solid transparent;
}

#head-menu li:hover {
  border-top: 0.13em solid blue;
}
